<h1>Edit the post</h1>
<%= form_for @post do |f| %>
	<p>
		<%= f.label :title%> : <%= f.text_field :title%></br>
	</p>
		<%= f.label :body%> : <%= f.text_area :body%></br>
	</p>
	<p>
		<%= f.select :category_id, Category.all.collect{|x| [x.name, x.id]},{:include_blank => "Select One"}%></br>
	<p>
	<p>
		<%= f.submit "Update Post"%></br>
	<p>
		<%= link_to "Go Back", post_path%>
		<%= link_to "Delete", @post, :confirm => "Are you sure you want to delete?", :method => :delete%>
		
<%end%>

