<h1>Welcome To Ruby Blog</h1>
<hr>
<h1>Here is the list of posts</h1>
<table border="1" cellspacing="0px">
	<hr bordercolor="green">
	<td>Id</td>
	<td>Title</td>
	<td>More Detail Info</td>
	<!--
	<td>Category Id</td>
	<td>Author Id</td>
	<td>Created At</td>
	<td>Updated At</td>-->
	</hr>

	<% @post.each do |item|%>
	<tr>
		<td><%= item.id%></td>
		<td><%= item.title%></td>
		<td><%= link_to "Show Details",item%></td>

		<!--
		<td><%= item.body%></td>
		<td><%= item.category_id%></td>
		<td><%= item.author_id%></td>
		<td><%= item.created_at.strftime("%m %d %Y")%></td>
		<td><%= item.updated_at.strftime("%m %d %Y")%></td>-->
	</tr>
	<%end%>
</table>
<%= link_to "Add New Post", new_post_path%>


<!--
<div ng-app = "countriesApp" ng-init = "countries = [{locale:'en-US',name:'United States'}, {locale:'en-GB',name:'United Kingdom'}, {locale:'en-FR',name:'France'}]">
	<p>
		Enter your Name:
		<input type = "text" ng-model = "name">
	</p>
	<p>
		Hello <span ng-bind = "name"></span>!
	</p>
	<p>
		List of Countries with locale:
	</p>

	<ol>
		<li ng-repeat = "country in countries">
			{{ 'Country: ' + country.name + ', Locale: ' + country.locale }}
		</li>
	</ol>
</div>
<div ng-app = "empDetails" ng-init="employee={firstName:'Roushan',lastName:'Kumar',empId:'M1013082'}">
	<p> <span ng-bind = "employee.firstName + employee.lastName"> </p> 
</div>

-->
