<h1>Create New Post</h1>
<%= form_for @post do |f| %>
	<%= f.label :title%> : <%= f.text_field :title%></br>
	<%= f.label :body%> :  <%= f.text_area :body%></br>
<p>
	<%= f.select :category_id, Category.all.collect{|x| [x.name, x.id]},{:include_blank => "Select One"}%></br>
<p>

<p>
	<%= f.submit "Add Post"%></br>
<p>

<%end%>
